$nav-color:rgb(15, 63, 57);

.toggle__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  width: 30px;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.toggle__button:focus {
  outline: none;
}

.toggle__button__line {
  width: 25px;
  height: 2px;
  background: $nav-color;
}



// Media queries

@media (min-width:769px) {
  .toggle__button {
    display: none;
  }
}