// header h2 font

@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');


.headerBody {
  height: auto;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  .imageDiv {
    width: 50%;
    // height: 50%;

    // img {
    //   width: 100%;
    //   height: 100%;
    // }
  }

  .headerContent {
    padding: 25px;
    width: 50%;
  }

  .headerContent h2{
    font-family: 'Wallpoet', cursive;
    font-size: 2.3rem;
    font-weight: normal;
  }

  .cta {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background: #ed3330;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #434343;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}



// MEDIA QUERIES


// < 1000px

@media (max-width:1000px) {
  .headerBody {
    .headerContent {
      width: 55%;
    }

    .imageDiv {
      width: 45%;
    }

    .headerContent h2 {
      font-size: 2rem;
    }
  }
}


// < 800px

@media (max-width:800px) {
  
  .headerBody {
    .headerContent {
      width: 100%;
      text-align: left;;
    }

    .imageDiv {
      display: none;
    }

    .headerContent h2 {
      font-size: 2rem;
      text-transform: uppercase;
    }

    .headerContent p {
      font-size: 1rem;
    }

    .cta {
      padding: 10px;
    }
  }
}

