@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");

$nav-active-color: #af732b;
$nav-font: "Cabin", cursive;
$nav-background: #fafafa;
$logo_menu_color: #0a0a0a;

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 84px;
  width: 100%;
  background: $nav-background;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.1);
}

.navBar .navBar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navBar__logo {
  margin-left: 1rem;
}

.navBar__logoLinks {
  color: $logo_menu_color;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: $nav-font;
}

.spacer {
  flex: 1;
}

.navBar__navigationItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  & .item {
    color: $logo_menu_color;
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: 1.3px;
    font-weight: 500;
    line-height: 18px;
    font-family: $nav-font;
    text-transform: uppercase;
    transition: color 0.1s ease-in;
  }

  & .item:hover {
    color: $nav-active-color;
  }

  & li {
    padding: 0 1.2rem;
  }

  & .activeNavItem {
    color: $nav-active-color;
  }
}

// Media queries

@media (max-width: 768px) {
  .navBar__navigationItems {
    display: none;
  }
}

// .title {
//   color: $nav-color;
//   font-size: 1.8rem;
//   text-decoration: none;
//   letter-spacing: 2px;
//   margin-left: 10px;
//   font-family: $logo-font;
//   font-weight: 100;
// }

// .header {
//   padding: 0 0 3rem;
//   display: flex;
// }

// .nav-list {
//   display: flex;
//   align-items: center;
//   position: absolute;
//   right: 100px;
//   top: 35px;
//   list-style-type: none;
//   margin: 0;
// }

// .nav-item {
//   font-size: 1.1rem;
//   margin-right: 1.3rem;
//   text-decoration: none;
//   transition: 0.3s;
//   color: $nav-color;
//   font-family: 'Henny Penny', cursive;
//   font-weight: 900;
// }
