@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");

$nav-active-color: #af732b;
$nav-font: "Cabin", cursive;
$nav-background: #fafafa;

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 84px;
  width: 100%;
  background: $nav-background;
  // box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.navBar .navBar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navBar__logo {
  margin-left: 1rem;

  .logo {
    width: 280px;
    height: 30px;
  }
}

.spacer {
  flex: 1;
}

.navBar__navigationItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  & .item {
    color: #000000;
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: 1.3px;
    font-weight: 500;
    line-height: 18px;
    font-family: $nav-font;
    text-transform: uppercase;
    transition: color 0.1s ease-in;
  }

  & .item:hover {
    color: $nav-active-color;
  }

  & li {
    padding: 0 1.2rem;
  }

  & .activeNavItem {
    color: $nav-active-color;
  }
}

// Media queries

@media (max-width: 768px) {
  .navBar__navigationItems {
    display: none;
  }
}

@media (min-width: 769px) {
  .navBar__logo {
    margin-left: 0;
  }
}
