.sideNav {
  height: 100%;
  background: #fff;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 300px;
  z-index: 200;
  transform:translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.sideNav.open {
  transform:translateX(0);
}

.sideNav ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.sideNav li {
  margin: 0.5rem 0;
}

.sideNav .link {
  color: rgb(15, 63, 57);
  text-decoration: none;
  font-size: 1.2rem;
}