$dateExcerpt: rgb(61, 61, 61);
$blogFont: sans-serif;

.header {
  font-size: 1.8rem;
  font-family: $blogFont;
}

.posts {
  list-style-type: none;
  margin: 0 auto;
  max-width: 750px;
}

.post {
  margin: 1rem 0;

  a {
    // box-shadow: -1px 6px 5px rgba(0,0,0,0.44);
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.84);
    font-weight: 600;
    display: block;
    padding: 1rem;
    text-decoration: none;
    margin: 0;

    h2 {
      font-size: 1.3rem;
      font-family: sans-serif;
    }

    .excerpt {
      color: $dateExcerpt;
    }

    .date {
      color: $dateExcerpt;
      display: inline-block;
      padding-right: 10px;
    }

    .space {
      padding-right: 10px;
    }

    p {
      font-weight: normal;
      font-size: 0.9rem;
      font-family: sans-serif;
      font-style: italic;
    }
  }
}
