$dateExcerpt: rgb(61, 61, 61);
$blogFont: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
  Arial, sans-serif;

.header {
  font-size: 1.8rem;
  font-family: $blogFont;
  text-align: center;
  margin: 1rem;
}

.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    // box-shadow: -1px 6px 5px rgba(0,0,0,0.44);
    background-color: #fafafa;
    border-left: 10px solid rgb(93, 93, 93);
    color: rgba(0, 0, 0, 0.84);
    font-weight: 600;
    display: block;
    padding: 1rem;
    text-decoration: none;
    margin: 0;

    h2 {
      font-size: 1.3rem;
      font-family: $blogFont;
    }

    // .excerpt {
    //   color: $dateExcerpt;
    // }

    .date {
      color: $dateExcerpt;
      display: inline-block;
      padding-right: 10px;
    }

    // .space {
    //   padding-right: 10px;
    // }

    p {
      font-weight: normal;
      font-size: 0.9rem;
      font-family: sans-serif;
      font-style: italic;
    }
  }
  .divider {
    width: auto;
    height: 1px;
    background-color: grey;
  }
}
